@mixin frame-inset($borderSize = 1px, $color = $frameInsetColor, $radius = $frameInsetRadius, $background = false) {
	border: $borderSize solid;
	border-color: $color*0.8 $color $color $color*0.8;
	@if $background != false {
  	background: $background;
  } 
}

@mixin frame-outset($borderSize = 1px, $color = #ccc, $radius = $frameOutsetRadius, $background = $frameOutsetBackground) {
	border: $borderSize solid;
	border-color: $color $color*0.8 $color*0.8 $color;
	background: $background;
}