// Input, text.

@import ../mixins/gradients;
@import ../mixins/frames;
@import compass/css3/inline-block;
@import compass/css3/border-radius;

input[type=text] {
  font: inherit;
	@include frame-inset(1px, $frameInsetColor, $frameInsetRadius, vertical-gradient(#e4e4e4, #eaeaea));
	padding: $textFieldPadding;
}

input[type=button],
input[type=submit] {
  font: inherit;
  color: #fff;
  cursor: pointer;
  line-height: $fontNormalSize;
	font-size: $fontNormalSize;
	height: $buttonHeight;
  padding: $buttonPadding;
  border: 0;
  @include vertical-gradient(#48d, #45d);
  @include border-radius(3px 3px);

  &:hover {
    @include vertical-gradient(#59e, #58e);
  }
  &:active {
    @include vertical-gradient(#b51, #a40);
  }
}

// Overriding views module styles.

.views-exposed-widget {
  @include inline-block(bottom);
  margin: 4px;
}