body.page-admin {
	div.tabs {

		.group {
			.title {
				display: block;
				font-size: 14px;
				color: #fff;
				margin: 10px 37px;
			}

			margin: 0px 0 12px 0px;
		}

		.group:first-child {
			padding-top: 0px;
		}

		ul.tabs {

			li a {
			    &.active {
			    	background-color: #70bc99;
			    	color: #fff;
			    }

			    &.semi-active {
			    	background-color: darken(#70bc99, 45%);
			    }
			}

			&.secondary {

				li a {

					padding-left: 60px;

				    &.active {
				    	background-color: #000;
				    	color: #fff;
				    }
				}
			}

			li {
			    list-style: none outside none;
			}

			li a {
			    color: #848788;
				padding: 7px 37px;
				text-decoration: none;
			    display: block;

			    &:hover {
			    	background-color: #232b2e;
			    }

			}
		}
	}
}