@import global;

// Body.
$colorBackgroundBody:           $white;
$colorText:                     $grayDark;

// Fonts.
$fontDefaultFamily:             $fontSansFamily;
$fontHeadingsFamily:            $fontSansFamily;
$fontHeadingsWeight:            bold;
$textFieldPadding:              3px 6px 4px 6px;

// Buttons.
$buttonPadding:                 0px 8px 0px 8px;
$buttonHeight:                  25px;

// Frames.
$frameInsetColor:               #ccc;
$frameInsetRadius:              3px;
$frameOutsetRadius:             3px;
$frameInsetBackground:          #eee;
$frameOutsetBackground:         #eee;
